@tailwind base;
@tailwind components;
@tailwind utilities;


/* #card-1 { 
  height: 3000px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: #ffff;
} */

#Capa_2{
  /* position: fixed; */
}

.bg-custom{
  background-color: blueviolet;
  display: none;
}

.cls-init{
  fill: #ffde4c;
  transform: translateX(-100%);
}

.cls-1 {
  fill: none;
}
.svg-class {
  #svg-yellow-line {
    fill: #ffde4c;
    /* transform: translateX(-100%); */
    /* animation: moverSvg 2s ease-in-out forwards; */
  }
}
.cls-1,
.cls-2,
.cls-3 {
  stroke-width: 0px;
  fill: #ffffff;

}

.cls-2 {
  fill: #ffde4c;
}

